<h3 id='merchant-name'><%= @merchant.name %></h3>

<section class="dashboard-links">
  <%= link_to 'My Items', "/merchants/#{@merchant.id}/items" %>
  <%= link_to 'My Invoices', "/merchants/#{@merchant.id}/invoices" %>
</section>

<section id="top-five-customers">
  <h2>Top Five Customers</h2>
  <% @merchant.top_five_customers.each.with_index do |customer, idx| %>
    <p class="top-customer">
      <%= "#{idx + 1}. #{customer.full_name.titlecase} - #{customer.quantity_successful_transactions} purchases" %>
    </p>
  <% end %>
</section>

<section id="items-ready-to-ship-list">
  <h2>Items Ready to Ship</h2>
  <% @merchant.items_ready_to_ship.each do |item| %>
    <p id=<%= item.invoice_item_id %> class='items-ready-to-ship'>
      <%= item.name %>
      - Invoice #<%= link_to item.invoice_id, invoice_path(item.invoice_id) %> 
      - <%= invoice_datetime_format(item.invoice_created_at) %>
    </p>
  <% end %>
</section>